body {
  font-family: 'Robotto', sans-serif;
  font-weight: 400;
  background-color: #dae2ec;
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  max-height: 0px;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.content.show {
  max-height: 9999px;
  height: auto;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}